# Зависимости
node_modules/
client/node_modules/

# Собранные файлы
dist/
client/build/

# Файлы окружения (пароли!)
.env

# Системные файлы Windows
Thumbs.db
Desktop.ini

# Логи
*.log
npm-debug.log*

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo