# API Key для аутентификации (оставьте пустым для отключения)
API_KEY=


# Подключение к БД 1
#POSTGRES1_HOST=127.0.0.1
#POSTGRES1_PORT=15515
#POSTGRES1_DATABASE=default
#POSTGRES1_USER=user
#POSTGRES1_PASSWORD=password
#POSTGRES1_SYNCHRONIZE=false
#POSTGRES1_CONNECT_TIMEOUT_MS=10000
#POSTGRES1_DESCRIPTION = My Local DB 1

# Подключение к БД 2
#POSTGRES1_HOST=127.0.0.1
#POSTGRES1_PORT=25515
#POSTGRES1_DATABASE=default
#POSTGRES1_USER=user
#POSTGRES1_PASSWORD=password
#POSTGRES1_SYNCHRONIZE=false
#POSTGRES1_CONNECT_TIMEOUT_MS=10000
#POSTGRES1_DESCRIPTION = My Local DB 2